* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2d2b3c;
}

.grid {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.title {
    background-color: #ACA9BB;
    padding: 20px;

}

.file {
    background-color: #ACA9BB;
}

.link {
    color: #ACA9BB;
    text-decoration: none;
    padding: 5px;
    background-color: #464362;
    border-radius: 5px;
}

.link:hover {
    background-color: #2d2b3c;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #ACA9BB;
    width: 60%;
    border: #464362 2px solid;
    box-shadow: #000 0px 0px 10px;
}

.card-img {
    width: 200px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #000;
}

.card-name {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}